<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workshop.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @workshop.description %>
</p>

<p>
  <strong>Max participants:</strong>
  <%= @workshop.max_participants %>
</p>

<p>
  <strong>Active:</strong>
  <%= @workshop.active %>
</p>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
