<%= form_for @profile, :html => { :class => "form-horizontal profile" } do |f| %>

  <%= render partial: "shared/error_message", locals: {entity: @profile} %>

  <%# Create an input field for each of the mandatory attributes%>
  <% [:first_name, :last_name, :gender, :birth_date, :school, :street_name, :zip_code, :city, :state, :country].each do |attr_name| %>
    <div class="form-group">
      <%= f.label attr_name, :class => 'control-label col-lg-2 required'%>
      <div class="col-lg-10">
        <% if attr_name == :birth_date %>
          <%= f.text_field attr_name, :class => 'form-control', :"data-enable-datepicker" => "true", value: (I18n.l @profile.birth_date if @profile.birth_date) %>
        <% elsif attr_name == :gender %>
          <%= f.select :gender, options_for_select(Profile::POSSIBLE_GENDERS.collect {|d| [I18n.t("profiles.genders.#{d}"), d]}, @profile.gender), {}, {class: 'form-control'} %>
        <% else %>
          <%= f.text_field attr_name, :class => 'form-control' %>
        <% end %>
        <%=f.error_span(attr_name) %>
      </div>
    </div>
  <% end %>

  <%# Create a special drop-down for likely graduation year%>
  <div class="form-group">
    <%= f.label :graduates_school_in, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:graduates_school_in, Array(Time.now.year..Time.now.year+15).unshift(t '.already_graduated').unshift(""), :to_s, :to_s, {}, {:class=>'form-control'}) %>
      <%=f.error_span(:graduates_school_in) %>
    </div>
  </div>

  <div class="text-right col-lg-12" >
    <label class="required"> </label>
    <%= t("errors.messages.required") %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                profiles_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
