<p id="notice"><%= notice %></p>

<p>
  <strong>Cv:</strong>
  <%= @profile.cv %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
