<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.title', :resource => Profile.model_name.human , :default => "Edit #{resource_name.to_s.humanize}") %></h4>
  </div>
  <div class="panel-body">
      <% if @user.profile.present? %>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :namespace => 'profile', :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
          <%= f.fields_for :profile, resource.profile do |builder| %>
            <% [:first_name, :last_name, :gender, :birth_date, :school, :street_name, :zip_code, :city, :state, :country].each do |attr_name| %>
              <div class="form-group">
                <%= builder.label attr_name, :class => 'control-label col-lg-2 required'%>
                <div class="col-lg-10">
                  <% if attr_name == :birth_date %>
                      <%= builder.text_field attr_name, :class => 'form-control', :"data-enable-datepicker" => "true", value: (I18n.l resource.profile.birth_date if resource.profile.birth_date) %>
                  <% elsif attr_name == :gender %>
                      <%= builder.select :gender, options_for_select(Profile::POSSIBLE_GENDERS.collect {|d| [I18n.t("profiles.genders.#{d}"), d]}, resource.profile.gender), {}, {class: 'form-control'} %>
                  <% else %>
                      <%= builder.text_field attr_name, :class => 'form-control' %>
                  <% end %>
                  <%=builder.error_span(attr_name) %>
                </div>
              </div>
            <% end %>

            <%# Create a special drop-down for likely graduation year%>
            <div class="form-group">
              <%= builder.label :graduates_school_in, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= builder.collection_select(:graduates_school_in, Array(Time.now.year..Time.now.year+15).unshift(t '.already_graduated').unshift(""), :to_s, :to_s, {}, {:class=>'form-control'}) %>
                <%= builder.error_span(:graduates_school_in) %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :current_password, :class => 'control-label col-lg-2' %>
              <div class="col-lg-10">
                <%= f.password_field :current_password, class: "form-control" %>
                <span class="help-block">
                  <%= t('devise.messages.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>
                </span>
              </div>
            </div>
          <% end %>

          <div class="text-right col-lg-12" >
            <label class="required"> </label>
            <%= t("errors.messages.required") %>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <%= f.submit t('.update', :default => "Update"), :class => 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      <% else %>
          <div class="row">
              <div class="col-lg-10 col-lg-offset-2">
                <a href="<%= new_profile_path %>" class="btn btn-primary"> <%= I18n.t('navbar.create_profile') %> </a>
              </div>
          </div>
      <% end %>
  </div>
</div>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('users.email.edit', :default => "Edit email") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :namespace => 'email', :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
        <div class="form-group">
          <%= f.label :email, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :current_password, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.password_field :current_password, class: "form-control" %>
            <span class="help-block">
              <%= t('devise.messages.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit t('.update', :default => "Update"), class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.title', :resource => resource_class.model_name.human , :default => "Edit #{resource_name.to_s.humanize}") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :namespace => 'password', :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
        <div class="form-group">
          <%= f.label :password, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
            <span class="help-block">
              <%= t('devise.messages.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>
            </span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.password_field :password_confirmation, class: "form-control"  %>
            <span class="help-block">
              <%= t('devise.messages.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>
            </span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :current_password, :class => 'control-label col-lg-2' %>
          <div class="col-lg-10">
            <%= f.password_field :current_password, class: "form-control" %>
            <span class="help-block">
              <%= t('devise.messages.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit t('.update', :default => "Update"), class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<p class="text-right">
  <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete, :class => 'btn btn-danger' %>
</p>
