<p id="notice"><%= notice %></p>

<p>
  <strong>Motivation:</strong>
  <%= @application.motivation %>
</p>

<p>
  <strong>User:</strong>
  <%= @application.user %>
</p>

<p>
  <strong>Workshop:</strong>
  <%= @application.workshop %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
