<div class="container-fluid" id="applicants_overview">
  <h3><%= t '.title', title: @event.name %></h3>
  <% if @free_places == Float::INFINITY %>
    <%= Event.human_attribute_name(:participants_are_unlimited) %>
  <% else %>
    <div id="free_places"><%= t '.free_places', count: @free_places %></div>
  <% end %>
  <div id="occupied_places"><%= t '.occupied_places', count: @occupied_places %></div>

  <table id="applicants" class="table table-striped">
    <thead>
    <tr>
      <th>
        <%= sort_caret(Profile.human_attribute_name(:name), :name) %>
      </th>
      <th>
        <%= sort_caret(Profile.human_attribute_name(:gender), :gender) %>
      </th>
      <th style="max-width: 100px">
        <%= sort_caret(( t('.age_when_event_starts')), :applicant_age_when_event_starts ) %>
      </th>
      <th>
        <%= t '.participations' %> <br>
        <%= t '.accepted_rejected' %>
      </th>
      <th>
        <button
         class="btn btn-default btn-sm pull-right has-popover"
         title="<%= t '.filter_by' %>"
         data-toggle="popover"
         data-placement="bottom"
         data-content="<%= (render :partial => 'application_letters/application_filter_popover').gsub('\n', '') %>"
         data-html="true"><%= t '.filter_by' %></button>
        <%= t '.status' %>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% sort_application_letters
       @application_letters.select {|l| l.user.profile }.each do | application_letter |%>
        <tr>
          <td><%= application_letter.user.profile.name %></td>
          <td><%= application_letter.user.profile.gender %></td>
          <td><%= application_letter.user.profile.age_at_time(@event.start_date)  %> </td>
          <td><%= application_letter.user.accepted_applications_count(@event) %> / <%= application_letter.user.rejected_applications_count(@event) %></td>
          <td>
            <%= render :partial => 'application_letters/application_selective', locals: {application_letter: application_letter} %>
          </td>
          <td>
            <%= link_to t('.details'), application_letter_path(application_letter), :class => 'btn btn-default btn-xs' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="container-fluid no-padding">
    <div class="btn-group" role="group">
      <% if (can? :edit_applicants, Event) && (@event.application_letters.count <= @event.max_participants) && (@event.phase == :selection) %>
        <%= link_to t('.accept_all'), event_accept_all_applicants_path(@event.to_param), :class => 'btn btn-default' %>
      <% end %>
      <% if @event.phase == :selection %>
        <%= link_to t('.print_all'), print_applications_event_path(@event.to_param), :target => "_blank", :class => 'btn btn-default' %>
      <% end %>
    </div>

    <div class="btn-group pull-right" role="group">
      <% if  (can? :send_email, Email) && (@event.phase == :selection) %>
        <% if not @event.applications_classified? %>
          <div class="btn-group pull-right tooltip-wrapper has-tooltip" role="group" data-toggle="tooltip" title="<%= t '.unclassified_applications_left'%>">
            <%= button_tag t('.sending_acceptances'), type: 'button', class: 'send-emails-button btn btn-default', disabled: true %>
            <%= button_tag t('.sending_rejections'), type: 'button', class: 'send-emails-button btn btn-default', disabled: true %>
          </div>
        <% elsif @event.compute_free_places < 0 %>
          <div class="btn-group pull-right tooltip-wrapper has-tooltip" role="group" data-toggle="tooltip" title="<%= t '.maximum_number_of_participants_exeeded'%>">
            <%= button_tag t('.sending_acceptances'), type: 'button', class: 'send-emails-button btn btn-default', disabled: true %>
            <%= button_tag t('.sending_rejections'), type: 'button', class: 'send-emails-button btn btn-default', disabled: true %>
          </div>
        <% else %>
            <%= link_to t('.sending_acceptances'), event_email_show_path(@event, status: :accepted), class: 'send-emails-button btn btn-default' %>
            <%= link_to t('.sending_rejections'),  event_email_show_path(@event, status: :rejected), class: 'send-emails-button btn btn-default' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
