<div class="container-fluid" id="applicants_overview">
  <h3><%= t '.title', title: @event.name %></h3>

  <div id="free_places"><%= t '.free_places', count: @free_places %></div>
  <div id="occupied_places"><%= t '.occupied_places', count: @occupied_places %></div>

  <table id="applicants" class="table table-striped">
    <thead>
    <tr>
      <th>
        <%= sort_caret(Profile.human_attribute_name(:name), :name) %>
      </th>
      <th>
        <%= sort_caret(Profile.human_attribute_name(:gender), :gender) %>
      </th>
      <th style="max-width: 100px">
        <%= sort_caret(( t('.age_when_event_starts')), :age ) %>
      </th>
      <th>
        <%= t '.participations' %> <br>
        <%= t '.accepted_rejected' %>
      </th>
      <th>
        <button
         class="btn btn-default btn-sm pull-right has-popover popover-click"
         title="<%= t '.filter_by' %>"
         data-toggle="popover"
         data-trigger="click"
         data-placement="bottom"
         data-content="<%= (render :partial => 'application_letters/application_filter_popover').gsub('\n', '') %>"
         data-html="true"><%= t '.filter_by' %></button>
        <%= t '.status' %>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% sort_application_letters
       @application_letters.select {|l| l.user.profile }.each do | application_letter |%>
        <tr>
          <td><%= application_letter.user.profile.name %></td>
          <td><%= t("profiles.genders.#{application_letter.user.profile.gender}") %></td>
          <td><%= application_letter.user.profile.age_at_time(@event.start_date)  %> </td>
          <td><%= application_letter.user.accepted_applications_count(@event) %> / <%= application_letter.user.rejected_applications_count(@event) %></td>
          <td>
            <%= render :partial => 'application_letters/application_selective', locals: {application_letter: application_letter} %>
          </td>
          <td class="application-notes">
            <%= link_to application_letter_path(application_letter, anchor: "application-notes"),
              :class => 'btn btn-default btn-xs has-tooltip',
              :'data-toggle' => 'tooltip',
              :'data-placement' => 'bottom',
              :title => application_letter.application_notes.first.note.truncate_words(10) do 
                glyph 'comment'
              end if application_letter.application_notes.present? %>
          </td>
          <td>
            <%= link_to t('.details'), application_letter_path(application_letter), :class => 'btn btn-default btn-xs' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="container-fluid no-padding">
    <div class="btn-group" role="group">
      <% if (can? :edit_applicants, Event) && (@event.application_letters.count <= @event.max_participants) && (@event.phase == :selection) %>
        <%= link_to t('.accept_all'), event_accept_all_applicants_path(@event.to_param), :class => 'btn btn-default' %>
      <% end %>
      <% if @event.phase == :selection %>
        <%= link_to t('.print_all'), print_applications_event_path(@event.to_param), :target => "_blank", :class => 'btn btn-default' %>
      <% end %>
    </div>
    <% if can? :send_email, Email %>
      <% if @event.phase == :selection %>
        <% if not @event.acceptances_have_been_sent %>
          <%= render partial: 'send_mail_button', locals: {button_label: t('.sending_acceptances'), template_status: "acceptance"} %>
        <% end %>
        <% if not @event.rejections_have_been_sent %>
              <%= render partial: 'send_mail_button', locals: {button_label: t('.sending_rejections'), template_status: "rejection"} %>
        <% end %>
      <% elsif (@event.phase == :execution) && @event.has_participants_without_status_notification?(:accepted) %>
          <%= render partial: 'send_mail_button', locals: {button_label: t('.sending_acceptances'), template_status: "acceptance"} %>
      <% end %>
    <% end %>

    <% if (can? :view_participants, Event) && (@event.phase == :execution) %>
      <%= link_to t('events.participants.show_participants'),
                  event_path(@event) + "/participants" , :class => 'btn btn-primary pull-right'  %>

    <% end %>
  </div>
</div>
