<<<<<<< HEAD
<h3><%= t('.title', title: @event.name) %></h3>
<div id="free_places"><%= t '.free_places', count: @free_places %></div>
<div id="occupied_places"><%= t '.occupied_places', count: @occupied_places %></div>
=======
<div class="container-fluid" id="applicants_overview">
>>>>>>> d6bbcb33bef6baf8d75bc12354f10a7550e2d957

  <h3><%= t('.title', title: @event.name) %></h3>
  <div id="free_places"><%= t '.free_places', count: @free_places %></div>
  <div id="occupied_places"><%= t '.occupied_places', count: @occupied_places %></div>

  <table id="applicants" class="table table-striped">
    <thead>
    <tr>
      <th><%= Profile.human_attribute_name(:name) %></th>
      <th><%= Profile.human_attribute_name(:gender) %></th>
      <th><%= Profile.human_attribute_name(:age) %></th>
      <th>
        <%= t '.participations' %> <br>
        <%= t '.accepted_rejected' %>
      </th>
      <th><%= t '.status' %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @event.application_letters.each do | application_letter | %>
        <tr>
          <td><%= application_letter.user.profile.name %></td>
          <td><%= application_letter.user.profile.gender %></td>
          <td><%= application_letter.user.profile.age  %></td>
          <td><%= application_letter.user.accepted_applications_count(@event) %> / <%= application_letter.user.rejected_applications_count(@event) %></td>
          <td>
            <%= render :partial => 'application_letters/application_selective', locals: {application_letter: application_letter} %>
          </td>
          <td>
            <%= link_to t('.details'), application_letter_path(application_letter), :class => 'btn btn-default' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <!-- TODO for Implementers of Button Functionality: Write view tests for buttons -->

  <div class="container-fluid no-padding">
    <div class="btn-group" role="group">
      <%= link_to "Alle annehmen",
          events_path, :class => 'btn btn-default'%>

      <%= link_to "Alle drucken",
          events_path, :class => 'btn btn-default'%>
    </div>
    <div class="btn-group pull-right" role="group">
      <% if (!@event.applicationsClassified?) %>
          <div class="tooltip-wrapper disabled has-tooltip" data-toggle="tooltip" title="Bewerbung(en) wurden noch nicht klassifiziert">
            <%= button_tag "Zusagen verschicken", type: 'button', class: 'send-emails-button btn btn-default', disabled: true %>
          </div>
          <div class="tooltip-wrapper disabled has-tooltip" data-toggle="tooltip" title="Bewerbung(en) wurden noch nicht klassifiziert">
            <%= button_tag "Absagen verschicken", type: 'button', class: 'send-emails-button btn btn-default', disabled: true %>
          </div>
      <% elsif (@event.compute_free_places < 0)%>
          <div class="tooltip-wrapper disabled has-tooltip" data-toggle="tooltip" title="Maximale Teilnehmeranzahl wurde überschritten">
            <%= button_tag "Zusagen verschicken", type: 'button', class: 'send-emails-button btn btn-default', disabled: true %>
          </div>
          <div class="tooltip-wrapper disabled has-tooltip" data-toggle="tooltip" title="Maximale Teilnehmeranzahl wurde überschritten">
            <%= button_tag "Absagen verschicken", type: 'button', class: 'send-emails-button btn btn-default', disabled: true %>
          </div>
      <% else %>
          <%= button_tag "Zusagen verschicken", type: 'button', class: 'btn btn-default', data: {toggle: 'modal', target: '#send-emails-modal', title: 'Zusagen verschicken', list: @event.compute_accepted_applications_emails} %>
          <%= button_tag "Absagen verschicken", type: 'button', class: 'btn btn-default', data: {toggle: 'modal', target: '#send-emails-modal', title: 'Absagen verschicken', list: @event.compute_rejected_applications_emails} %>
      <% end %>
    </div>
  </div>

</div>

<!-- Bootstrap Modal for sending emails -->
<div id="send-emails-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Emails verschicken</h4>
      </div>
      <div class="modal-body">
        <%= link_to "Senden", '#', :id => 'send-emails-mailto', :class => 'btn btn-default' %>
        <%= button_tag "In die Zwischenablage kopieren", type: 'button', id: 'send-emails-clipboard', class: 'btn btn-default' %>
        <%= text_field_tag "send-emails-list", '', :type => 'hidden' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
