<div class="event-preview media <%= 'event-past' if event.is_past %> clearfix">
  <%= image_tag "example.png", class: "img-rounded img-responsive img-float-corner-tr center-block" %>
  <div class="media-left">
    <%= render "events/event_date_large", event: event %>
  </div>

  <div class="media-body">
    <a href="<%= event_path(event) %>">
      <h3>
        <%= event.name %>
        <small>
          <%= tag_label t('activerecord.attributes.event.draft'), :default if not event.published and can? :view_unpublished, Event %>
          <%= tag_label t('activerecord.attributes.event.hidden'), :default if event.hidden and can? :view_hidden, Event %>
          <%= tag_label t('events.notices.past_event'), :default if event.is_past %>
        </small>
      </h3>
    </a>

    <p>
      <%= truncate(markdown(event.description, true), length: Event::TRUNCATE_DESCRIPTION_TEXT_LENGTH) %>
      <%= link_to " " + I18n.t('events.list.read_on'), event_path(event) %>

      <div class="pull-left">
        <div class="m-b-1">
          <%= event.application_deadline_label.try { |label| tag_label label, :default } %>
          <%= event.duration_label.try { |label| tag_label label, :default } %>
        </div>
      </div>

      <div class="pull-right">
        <%= link_to t("helpers.links.apply"), new_application_letter_path(:event_id => event.id), class: "btn btn-success btn-sm" %>

        <%= link_to edit_event_path(event),
          :class => 'btn btn-default btn-sm' do glyph 'edit' end if can? :edit, event %>

        <%= link_to event_path(event),
          :method => :delete,
          :data => {
            :confirm => t('events.confirmation_prompts.confirm_delete',
              :default => t("helpers.links.confirm",
                :default => 'Löschen kann nicht rückgängig gemacht werden!')) },
               :class => 'btn btn-sm btn-danger' do glyph 'trash' end if can? :destroy, event %>
      </div>
    </p>
  </div>

</div>
