<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>

  <%= render partial: "shared/error_message", locals: {entity: @event} %>

    <div class="form-group">
      <%= f.label :type, :class => 'control-label col-lg-2' %>
      <div class="btn-group col-lg-10" data-toggle="buttons">
        <label class="btn btn-default <%= 'active' if not @event.hidden %>" id="public_type">
          <%= f.radio_button :hidden, false %>
          <%= I18n.t :"events.type.public" %>
        </label>
        <label class="btn btn-default <%= 'active' if @event.hidden %>" id="private_type">
          <%= f.radio_button :hidden, true %>
          <%= I18n.t :"events.type.private" %>
        </label>
        <%= f.error_span(:hidden) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :published, :class => 'control-label col-lg-2' %>
      <div class="btn-group col-lg-10" data-toggle="buttons">
        <label class="btn btn-default <%= 'active' if not @event.published %>" id="save_draft_option">
          <%= f.radio_button :published, false %>
          <%= I18n.t :"events.form.draft.save" %>
        </label>
        <label class="btn btn-default <%= 'active' if @event.published %>" id="publish_event_option">
          <%= f.radio_button :published, true %>
          <%= I18n.t :"events.form.draft.publish" %>
        </label>
        <%= f.error_span(:published) %>
      </div>
    </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
      <%=f.error_span(:name) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => 'form-control', :id => 'description',  :placeholder => '', :rows => 20, :spellcheck => "false" %>
      <script>
        var EVENT_DESCRIPTION_PLACEHOLDER = '<%= I18n.t "events.description_placeholder" %>';
      </script>
      <%=f.error_span(:description) %>
      <%= t('markdown.supports_markdown_html', href: link_to(t('markdown.supports_markdown_link'), 'https://daringfireball.net/projects/markdown/syntax')) %>
    </div>
  </div>

    <div class="form-group">
      <%= f.label :max_participants, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :max_participants, :class => 'form-control' %>
        <%= f.error_span(:max_participants) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :date_ranges, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10 <%= 'has-error' unless @event.errors.messages[:date_ranges].empty? %>" id="event-date-pickers">
        <% def date_picker_template(start_date = Date.current, end_date = Date.current)
          start_picker = text_field_tag "event[date_ranges_attributes][][start_date]", (I18n.l start_date),
            class: 'form-control', :"data-enable-datepicker" => 'true'
          end_picker = text_field_tag "event[date_ranges_attributes][][end_date]", (I18n.l end_date),
            class: 'form-control', :"data-enable-datepicker" => 'true'

          "<div>#{start_picker} #{t 'date_range.pronouns.to'} #{end_picker} "+
            "<a class=\"close\" onclick=\"javascript:removeEventDatePicker(event.target)\">&times;</a></div>"
        end %>

        <%=
          if @event.date_ranges.blank?
            date_picker_template.html_safe
          else
            @event.date_ranges
              .map { |d| date_picker_template d.start_date, d.end_date }
              .reduce(:+)
              .html_safe
          end
        %>
        <a class="btn btn-xs btn-default" href="javascript:addEventDatePicker()" id="event-add-date-picker">
          <%= t 'events.form.add_timespan' %>
        </a>
        <%=f.error_span(:date_ranges) %>
      </div>
      <script>var EVENT_DATE_PICKER_TEMPLATE = '<%= date_picker_template.gsub("\n", "").html_safe %>';</script>
    </div>
    <div class="form-group">
      <%= f.label :organizer, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :organizer, :class => 'form-control', :placeholder => 'optional' %>
        <%=f.error_span(:organizer) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :knowledge_level, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :knowledge_level, :class => 'form-control', :placeholder => 'optional' %>
        <%=f.error_span(:knowledge_level) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :application_deadline, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :application_deadline, :"data-enable-datepicker" => 'true', value: ((I18n.l  @event.application_deadline) if @event.application_deadline.present?), class: "form-control" %>
        <%=f.error_span(:application_deadline) %>
      </div>
    </div>
    <%= render 'image_upload', form: f %>
  <%= (render 'custom_application_fields_input', form: f) if @event.new_record? %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <% if @event.new_record? %>
        <%= f.submit t('.create'), :name => 'create', :class => 'btn btn-primary', :id => 'create_event' %>
      <% else %>
        <%= f.submit t('.update'), :name => 'update', :class => 'btn btn-primary' %>
      <% end %>
      <% unless @event.new_record? %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            event_path(@event),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("events.confirmation_prompts.confirm_delete", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
      <% end %>
  </div>
    </div>
  </div>

<% end %>
