<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>

  <%= render partial: "shared/error_message", locals: {entity: @event} %>

  <div class="form-group">
    <div class="btn-group col-lg-10 col-lg-offset-2" data-toggle="buttons">
      <% Event.kinds.keys.each do |key| %>
        <label class="btn btn-default <%= 'active' if @event.kind == key %>">
          <%= f.radio_button :kind, key %>
          <%= key.humanize %>
        </label>
      <% end %>
      <%=f.error_span(:kind) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
      <%=f.error_span(:name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
      <%=f.error_span(:description) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :max_participants, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :max_participants, :class => 'form-control' %>
      <%=f.error_span(:max_participants) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_ranges, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10" id="event-date-pickers">
      <% def date_picker_template(start_date = Date.current, end_date = Date.current)
        start_picker = text_field_tag "event[date_ranges_attributes][][start_date]", (I18n.l start_date),
          class: 'form-control', :"data-enable-datepicker" => 'true'
        end_picker = text_field_tag "event[date_ranges_attributes][][end_date]", (I18n.l end_date),
          class: 'form-control', :"data-enable-datepicker" => 'true'

        "<div>#{start_picker} #{t 'date_range.to'} #{end_picker} "+
          "<a class=\"close\" onclick=\"javascript:removeEventDatePicker(event.target)\">&times;</a></div>"
      end %>

      <%=
        if @event.date_ranges.blank?
          date_picker_template.html_safe
        else
          @event.date_ranges
            .map { |d| date_picker_template d.start_date, d.end_date }
            .reduce(:+)
            .html_safe
        end
      %>
      <a class="btn btn-xs btn-default" href="javascript:addEventDatePicker()" id="event-add-date-picker">
        <%= t 'events.form.add_timespan' %>
      </a>
      <%=f.error_span(:date_ranges) %>
    </div>
    <script>var EVENT_DATE_PICKER_TEMPLATE = '<%= date_picker_template.gsub("\n", "").html_safe %>';</script>
  </div>
  <div class="form-group">
    <%= f.label :organizer, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :organizer, :class => 'form-control', :placeholder => 'optional' %>
      <%=f.error_span(:organizer) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :knowledge_level, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :knowledge_level, :class => 'form-control', :placeholder => 'optional' %>
      <%=f.error_span(:knowledge_level) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :application_deadline, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :application_deadline, :"data-enable-datepicker" => 'true', value: ((I18n.l  @event.application_deadline) if @event.application_deadline.present?), class: "form-control" %>
      <%=f.error_span(:application_deadline) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <% if @event.draft == false %>
        <%= f.submit t('.update'), :name => 'publish', :class => 'btn btn-primary' %>
      <% else %>
        <%= f.submit t('.publish'), :name => 'publish', :class => 'btn btn-primary' %>
        <%= f.submit t('.draft'), :name => 'draft', :class => 'btn btn-default' %>
      <% end %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
