<li>
  <% if file[:type] == 'file' %>
    <span class="glyphicon glyphicon-file"></span>
  <% else %>
    <span class="glyphicon glyphicon-folder-open"></span>
  <% end %>
  <strong><%= file[:name] %></strong>
  <% if file[:type] == 'file' %>
      <%= form_tag(event_download_material_path(@event), style: 'display: inline;') do %>
        <%= hidden_field_tag "file", file[:path] %>
        <%= submit_tag t('events.material_area.download'),
                       class: 'btn btn-primary btn-xs',
                       id: "material_upload_btn_#{@event.id}_#{file[:name]}"
        %>
      <% end %>
  <% end %>
  <% if can? :upload_material, Event %>
      <%= form_tag(event_remove_material_path(@event), style: 'display: inline;') do %>
          <%= hidden_field_tag "path", file[:path] %>
          <%= submit_tag t('events.material_area.remove'),
                         class: 'btn btn-primary btn-xs',
                         id: "material_remove_btn_#{@event.id}_#{file[:name]}",
                         onclick: file[:type] == 'dir' ? "return confirm('" + t('events.material_area.deletion_confirmation') + "')" : ''
          %>
      <% end %>
  <% end %>
  <% if can? :upload_material, Event %>
      <button class="btn btn-primary btn-xs move-dir-button" data-path="<%= file[:path] %>"><%= t('events.material_area.move') %></button>
  <% end %>
  <% if file[:type] == 'dir' %>
      <% if can? :upload_material, Event %>
        <button class="btn btn-primary btn-xs add-dir-button" data-path="<%= file[:path] %>"><%= t('events.material_area.create_dir') %></button>
      <% end %>
      <ul style="list-style-type: none;">
        <% file[:content].each do |file| %>
            <%= render( partial: 'material_item', locals: { file: file }) %>
        <% end %>
      </ul>
  <% end %>
</li>