<%- model_class = Event -%>
<div>
  <div class="pull-right">
    <% if (can? :view_participants, Event) && (@event.phase == :execution) %>
        <%= link_to t('events.participants.show_participants'),
                    event_path(@event) + "/participants" , :class => 'btn btn-default btn-sm'  %>
    <% end %>
    <%= link_to t("helpers.links.apply"), new_application_letter_path(:event_id => @event.id), class: "btn btn-success btn-sm" %>
    <%= link_to t('.edit', :default => t('helpers.links.edit')), edit_event_path(@event),
                :class => 'btn btn-default btn-sm' if can? :edit, @event %>
  </div>
  <h1><%= @event.name %></h1>
</div>
<%= image_tag "event-detail.png", class: "img-rounded img-responsive center-block m-t-1 m-b-1" %>
<div class="row">
  <div class="col-md-1 col-md-offset-1 text-center col-sm-2">
    <%= render "event_date_large", event: @event %>
    <div class="m-t-1">
      <%= render @event.date_ranges %>
    </div>
  </div>
  <div class="col-md-7 col-sm-10">
    <%= markdown @event.description %>
  </div>
  <div class="col-md-2 col-sm-offset-2 col-md-offset-0">
    <dl>
      <dt><strong><%= model_class.human_attribute_name(:knowledge_level) %>:</strong></dt>
      <dd><%= @event.knowledge_level %></dd>
      <dt><strong><%= model_class.human_attribute_name(:max_participants) %>:</strong></dt>
      <dd><%= @event.max_participants %></dd>
      <dt><strong><%= model_class.human_attribute_name(:organizer) %>:</strong></dt>
      <dd><%= @event.organizer %></dd>
      <dt><strong><%= model_class.human_attribute_name(:application_deadline) %>:</strong></dt>
      <dd> <%= I18n.l(@event.application_deadline) + ' ' + I18n.t('midnight') %></dd>
      <% if can? :manage, Event %>
      <dt><strong><%= model_class.human_attribute_name(:custom_application_fields) %>:</strong></dt>
      <dd>
        <ul>
          <% @event.custom_application_fields.each do |field| %>
            <li><%= field %></li>
          <% end %>
        </ul>
      </dd>
      <% end %>
    </dl>
  </div>
</div>
