<h1><%= t('events.badges.title') %>'<%= @event.name %>'</h1>
<h3><%= t('events.badges.participants') %></h3>
<table>
  <tr>
    <th>Name</th>
    <th><%= t('events.badges.printBoolean') %></th>
  </tr>

  <% @participants.each do |participant| %>
      <tr>

        <td>
          <%= participant.name %>
        </td>
        <td>
          <input type="checkbox" checked="checked">
        </td>
        <td>
        </td>
      </tr>
  <% end %>
</table>

<%= link_to t('events.badges.print'),
            event_print_badges_path(@event),
            :method => :post,
            :class => 'btn btn-primary' %>