<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @event.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:max_participants) %>:</strong></dt>
  <dd><%= @event.max_participants %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @event.active %></dd>
</dl>

<h1>Teilnehmer</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
	<th>Einverständniserklärung</th>
  </tr>  
  
  <% @participants.each do |participant| %>
  <tr>

    <td>
	  <%= participant.name %>
    </td>
    <td>
      <%= participant.email %>
    </td>
	<td>
	  <% if participant.older_than_18_at_start_date_of_event?(@event) %>
	    <p class="agreement-letter-unnecessary"> unnötig </p>
	  <% elsif participant.agreement_letter_for_event?(@event) %>
	    <p class="agreement-letter-available" title="<%= participant.agreement_letter_for_event(@event).updated_at %>"> vorhanden </p>
	  <% else %>
	    <p class="agreement-letter-missing"> nicht vorhanden </p>
	  <% end %>
	</td>
  </tr>
  <% end %>
</table>


<%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn btn-default'  %>