<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> (<%= @event.kind.humanize %>)</h1>
</div>

<%= render :partial => 'show_event' %>

<h1><%= t '.participants' %></h1>
<table>
  <tr>
    <th><%= t 'activerecord.attributes.profile.name' %></th>
    <th><%= t 'activerecord.attributes.profile.email' %></th>
	<th><%= t 'agreement_letters.agreement_letter' %></th>
  </tr>  
  
  <% @participants.each do |participant| %>
  <tr>

    <td>
	  <%= participant.name %>
    </td>
    <td>
      <%= participant.email %>
    </td>
	<td>
	  <% if participant.older_than_18_at_start_date_of_event?(@event) %>
	    <p class="text-muted"> <%= t '.unnecessary' %> </p>
	  <% elsif participant.agreement_letter_for_event?(@event) %>
	    <p class="text-success" title="<%= participant.agreement_letter_for_event(@event).updated_at %>"> <%= t '.available' %> </p>
	  <% else %>
	    <p class="text-danger"><%= t '.unavailable' %></p>
	  <% end %>
	</td>
  </tr>
  <% end %>
</table>


<%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn btn-default'  %>
