<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> (<%= @event.kind.humanize %>)</h1>
  <%= stylesheet_link_tag "bootstrap-colorselect" %>
  <%= javascript_include_tag "bootstrap-colorselect" %>
</div>
<% if can? :view_participants, Event %>
  <%= render :partial => 'show_event' %>

  <h1><%= t '.participants' %></h1>
  <table class="table table-striped">
    <tr>
      <th><%= t 'activerecord.attributes.profile.name' %></th>
      <th><%= t 'activerecord.attributes.profile.email' %></th>
  	  <th><%= t 'agreement_letters.agreement_letter' %></th>
      <th><%= sort_caret(ParticipantGroup.human_attribute_name(:group), :group) %></th>
    </tr>

    <% #@participants.each do |participant| %>
    <% @participants.sort_by! {|l| @event.participantgroup_for(l).send(params[:sort]) } if params[:sort]
    @participants.reverse! if params[:order] == 'descending'
    @participants.select {|l| @event.participantgroup_for(l) }.each do | participant | %>
    <tr>

      <td>
        <% unless participant.profile.nil? %>
          <%= participant.profile.name %>
        <% else %>
          <%= participant.name %>
        <% end %>
      </td>
      <td>
      <%= participant.email %>
      </td>
      <td>
        <% if participant.requires_agreement_letter_for_event?(@event) %>
          <span class="text-muted"> <%= t '.unnecessary' %> </span>
        <% elsif participant.agreement_letter_for_event?(@event) %>
          <span class="text-success" title="<%= participant.agreement_letter_for_event(@event).updated_at %>"> <%= t '.available' %> </span>
        <% else %>
          <span class="text-danger"><%= t '.unavailable' %></span>
        <% end %>
      </td>
      <td>
        <%= render 'colorselect', participant_group: @event.participantgroup_for(participant) %>
      </td>
    </tr>
    <% end %>
  </table>


  <%= link_to t('.back', :default => t('helpers.links.back')),
              event_path(@event), :class => 'btn btn-default'  %>
  <script>
    $('.colorselector').colorselector();
  </script>
<% end %>
