<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> (<%= @event.kind.humanize %>)</h1>
</div>

<% if @event.unreasonably_long %>
  <div class="panel panel-warning">
    <div class="panel-body">
      <%= t 'events.notices.unreasonable_timespan' %>
    </div>
  </div>
<% end %>

<%= render :partial => 'show_event' %>

<% if can? :view_applicants, Event %>
  <%= render :partial => 'applicants_overview' %>
<% end %>

<%= link_to t('.back', :default => t('helpers.links.back')),
              events_path, :class => 'btn btn-default'  %>
<% if can? :view_participants, Event %>
  <%= link_to t('events.participants.show_participants'),
              event_path(@event) + "/participants" , :class => 'btn btn-default'  %>
<% end %>
