<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @event.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:max_participants) %>:</strong></dt>
  <dd><%= @event.max_participants %></dd>
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @event.active %></dd>
</dl>

<h3>Bewerber für <%= @event.name %></h3>
<div><%= @free_places %> Plätze frei</div>
<div><%= @occupied_places %> Plätze belegt</div>

<table id="applicants" class="table table-striped">
  <thead>
  <tr>
    <th><%= User.human_attribute_name(:name) %></th>
    <th>Geschlecht<%#= User.human_attribute_name(:sex) TODO: Add sex to User Model%></th>
    <th>Alter<%#= User.human_attribute_name(:age) TODO: Add age to User Model%></th>
    <th>Camp-Teilnahmen<%#= User.human_attribute_name(:participation_count) TODO: Add participation_count to User Model%></th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <% @event.application_letters.each do | application_letter | %>
      <tr>
        <td><%= application_letter.user.name %></td>
        <td><%#= application_letter.user.sex %></td>
        <td><%#= application_letter.user.age %></td>
        <td><%#= application_letter.user.participation_count %></td>
        <td>
          Radio Buttons (#45 US_3.11: Mark as accepted/rejected)
          <%= link_to "Details", application_letter_path(application_letter), :class => 'btn btn-default' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<!-- TODO: Write view tests for buttons -->
<%= link_to "Alle annehmen (#16 US_3.1 Accept-All-Button)",
            events_path, :class => 'btn btn-default'%>

<%= link_to "Alle drucken (#30 US_3.7 Print all at once)",
            events_path, :class => 'btn btn-default'%>

<%= link_to "Zusagen verschicken (#22 US_3.2 Send emails in a bundle)",
            events_path, :class => 'btn btn-default'%>

<%= link_to "Absagen verschicken (#22 US_3.2 Send emails in a bundle)",
            events_path, :class => 'btn btn-default'%>

<%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
>>>>>>> origin/dev:app/views/events/show.html.erb
