<%= form_for @request, :html => { :class => "form-horizontal request" } do |f| %>

  <%= render partial: "shared/error_message", locals: {entity: @request} %>

  <div class="form-group">
    <%= f.label :topics, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :topics, :class => 'form-control' %>
      <%=f.error_span(:topics) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
      <%=f.error_span(:user_id) %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                requests_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
