<%- model_class = Request -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(count: 2).titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:topic_of_workshop) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:time_period) %></th>
      <th><%= model_class.human_attribute_name(:number_of_participants) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.topic_of_workshop, request_path(request) %></td>
        <td><%= request.name %></td>
        <td><%= request.time_period %></td>
        <td><%= request.number_of_participants %></td>
        <td>
          <% if can? :edit, request %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_request_path(request), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <% if can? :destroy, request %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      request_path(request),
                      :method => :delete,
                      :data => { :confirm => t('dialogues.confirm_delete') },
                      :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :new, Request %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_request_path,
            :class => 'btn btn-primary' %>
<% end %>
