<% if can? :edit_applicants, Event and application_letter.event.application_status_locked == false %>
    <%= form_for :application_letter, url: application_letter_path(application_letter), html: {method: :put} do |f| %>
        <div class="form-group">
          <div class="btn-group">
            <% ApplicationLetter.statuses.keys.each do |key| %>
                <label class="btn btn-default <%= 'active' if application_letter.status == key %>">
                  <%= f.radio_button :status, key, checked: application_letter.status == key,
                                     onclick: 'this.form.submit()' %>
                  <%= t("application_status.#{key}") %>
                </label>
            <% end %>
          </div>
          <%= f.error_span(:status) %>
        </div>
    <% end %>
<% elsif can? :view_applicants, Event %>
    <%= t("application_status.#{application_letter.status}") %>
<% else %>
    <%= t("application_status.#{:pending}") %>
<% end %>