<% if can? :edit_applicants, Event and not (application_letter.event.application_status_locked == true) %>
    <%= form_for :application_letter, url: update_application_letter_status_path(application_letter), html: {method: :put} do |f| %>
        <div class="form-group">
          <div class="btn-group" data-toggle="buttons">
            <% ApplicationLetter.statuses.keys.each do |key| %>
                <label class="btn btn-xs btn-default <%= 'active' if application_letter.status == key %>">
                    <%= f.radio_button :status,
                        key,
                        checked: application_letter.status == key,
                        onchange:
                            'ajaxUpdateApplicationStatus(this.form, "' +
                                I18n.t('events.applicants_overview.failed_to_update') +
                            '")' %>
                  <%= t("application_status.#{key}") %>
                </label>
            <% end %>
          </div>
          <%= f.error_span(:status) %>
        </div>
    <% end %>
<% elsif can? :view_applicants, Event %>
    <%= t("application_status.#{application_letter.status}") %>
<% else %>
    <%= t("application_status.#{:pending}") %>
<% end %>
