<%= form_for @application_letter, :html => { :class => "form-horizontal application" } do |f| %>

  <%= render partial: "shared/error_message", locals: {entity: @application_letter} %>

  <% if @application_letter.after_deadline? %>
    <div class="alert alert-warning" role="warning">
      <%= t '.warning' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :grade, :class => 'control-label col-lg-2 required' %>
    <div class="col-lg-10">
      <%= f.collection_select :grade, ApplicationLetter::VALID_GRADES, :to_s, :to_s, {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:grade) %>
  </div>
  <div class="form-group">
    <%= f.label :experience, :class => 'control-label col-lg-2 required' %>
    <div class="col-lg-10">
      <%= f.text_area :experience, :class => 'form-control' %> <%=f.error_span(:experience) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :motivation, :class => 'control-label col-lg-2 required' %>
    <div class="col-lg-10">
      <%= f.text_area :motivation, :rows => 10, :class => 'form-control' %> <%=f.error_span(:motivation) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :coding_skills, :class => 'control-label col-lg-2 required' %>
    <div class="col-lg-10">
      <%= f.text_area :coding_skills, :rows => 5, :class => 'form-control' %>
      <%=f.error_span(:coding_skills) %>
      <p class="help-block"><%= t '.help_text_coding_skills' %></p>

      <p ></p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :emergency_number, :class => 'control-label col-lg-2 required' %>
    <div class="col-lg-10">
      <%= f.text_field :emergency_number, :class => 'form-control' %> <%=f.error_span(:emergency_number) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.check_box :vegeterian%>
      <%= f.label :vegeterian, :class => 'control-label' %>
      <%=f.error_span(:vegeterian) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.check_box :vegan%>
      <%= f.label :vegan, :class => 'control-label' %>
      <%=f.error_span(:vegan) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.check_box :allergic%>
      <%= f.label :allergic, :class => 'control-label' %>
      <%=f.error_span(:allergic) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :allergies, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :allergies, :rows => 3, :class => 'form-control' %>
    </div>
    <%=f.error_span(:allergies) %>
  </div>
	<%= hidden_field_tag 'event_id', params[:event_id] %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary', :disabled => @application_letter.after_deadline? %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                application_letters_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
