<%- model_class = ApplicationLetter -%>

<p class='alert alert-info' >
  <% if @application_deadline_exceeded %>
    <%= t('.deadline_exceeded') %>
  <% else %>
    <%= t('.can_change_until', application_deadline: l(@application_letter.event.application_deadline)) %>
  <% end %>
</p>
<div class="page-header">
  <h1><%=t '.check_application_for', event_name: @application_letter.event.name %></h1>
</div>

<%# Be careful: user.requires_agreement_letter_for_event? behaves exactly the way you wouldn't expect it do behave: If the user requires an agreement letter for the event, it returns false... But fuck me if I'm the one to refactor it%>
<% if not @application_letter.user.requires_agreement_letter_for_event?(@application_letter.event)%>
  <h3 id="agreement_header"><%= t('agreement_letters.please_upload', event: @application_letter.event.name)%></h3>
  <%= render('upload_form', event_id: @application_letter.event.id, agreement_letter: @application_letter.event.agreement_letter_for(@application_letter.user)) %>
<% end %>

<h3><%= t('.my_application') %></h3>
<div id='application_details'>
  <strong><%= ApplicationLetter.human_attribute_name(:grade) %>:</strong>
  <%= @application_letter.grade %><br/>
  <strong><%= ApplicationLetter.human_attribute_name(:motivation) %>:</strong><br/>
  <%= @application_letter.motivation %><br/>
  <strong><%= ApplicationLetter.human_attribute_name(:experience) %>:</strong><br/>
  <%= @application_letter.experience %><br/>
  <strong><%= ApplicationLetter.human_attribute_name(:coding_skills) %>:</strong><br/>
  <%= @application_letter.coding_skills %><br/>
  <strong><%= ApplicationLetter.human_attribute_name(:emergency_number) %>:</strong>
  <%= @application_letter.emergency_number %><br/>

  <strong><%=t('.eating_habits') %>:</strong>
  <%= @application_letter.eating_habits.join(', ') %><br/>

  <strong><%= ApplicationLetter.human_attribute_name(:allergies) %>:</strong><br/>
  <%= @application_letter.allergies %><br/>
  <% @application_letter.event.custom_application_fields
    .zip(@application_letter.custom_application_fields)
    .each do |field_name, field_value| %>
    <strong><%= field_name %>:</strong>
    <%= field_value %>
    <br/>
  <% end %>
</div>
<% unless @application_deadline_exceeded %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_application_letter_path(@application_letter), id: 'edit_application_link', class: 'btn btn-default' %>
<% end %>

<h3><%= t('.my_personal_data') %></h3>
<div id="applicant_details">
  <strong><%= Profile.human_attribute_name(:name) %>:</strong>
  <%= @application_letter.user.profile.name %><br/>
  <strong><%= Profile.human_attribute_name(:gender) %>:</strong>
  <%= @application_letter.user.profile.gender %><br/>
  <strong><%= Profile.human_attribute_name(:birth_date) %>:</strong>
  <%= l(@application_letter.user.profile.birth_date) %><br/>
  <strong><%= Profile.human_attribute_name(:address) %>:</strong>
  <%= @application_letter.user.profile.address %><br/>
  <strong><%= Profile.human_attribute_name(:school) %>:</strong>
  <%= @application_letter.user.profile.school %><br/>
  <strong><%= Profile.human_attribute_name(:graduates_school_in) %>:</strong>
  <%= @application_letter.user.profile.graduates_school_in %>
</div>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_profile_path(@application_letter.user.profile), id: 'edit_profile_link', class: 'btn btn-default' %>
