<%- model_class = ApplicationLetter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => model_class.count).titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:motivation) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:event_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @application_letters.each do |application| %>
      <% if can? :destroy, application %>
        <tr>
          <td><%= link_to application.id, application_letter_path(application) %></td>
          <td><%= application.motivation %></td>
          <td><%= application.user_id %></td>
          <td><%= application.event_id %></td>
          <td><%=l application.created_at %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_application_letter_path(application), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        application_letter_path(application),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
