<%- model_class = ApplicationLetter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:motivation) %>:</strong></dt>
  <dd><%= @application_letter.motivation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @application_letter.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:workshop_id) %>:</strong></dt>
  <dd><%= @application_letter.workshop_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              application_letters_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_application_letter_path(@application_letter), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              application_letter_path(@application_letter),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<%= form_for [@application_letter, @application_letter.application_notes.build], :html => { :class => "form-horizontal application" } do |f| %>

    <% if @application_note.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@application_note.errors.count, "error") %> prohibited this application from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @application_note.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :note, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_area :note, :class => 'form-control' %>
      </div>
      <%=f.error_span(:note) %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
      </div>
    </div>

<% end %>