<div class="page-header">
  <h1><%=t 'footer.imprint' %></h1>
  <h3><%=t 'host_name' %></h3>
  <p class="lead">Musterstraße 1<br>12345 Musterstadt<br>Telefon: +49 (0)1234 / 5678-9<br>Telefax: +49 (0)1234 / 5678-0<br>E-Mail: <a href="mailto:info@example.com"><span>info@example.com</span></a><br>Internet: <a href="http://www.example.com"><span>www.example.com</span></a></p>
  <div class="spacer-30"></div>
  <h3><%=t 'imprint.managing_directors' %></h3>
  <p class="lead">Prof. Dr. Companion Cube<br>Registergericht: Amtsgericht Musterstadt<br>Registernummer: HRB 12345</p>
  <div class="spacer-30"></div>
  <p class="lead">Inhaltlich Verantwortliche gemäß § 6 MDStV:<br>Prof. Dr. Companion Cube</p>
  <div class="spacer-30"></div>
  <h3><%=t 'imprint.editor' %></h3>
  <p class="lead"><%=t 'host_name' %></p>
  <div class="spacer-30"></div>
  <h3><%=t 'imprint.web_design' %></h3>
  <p class="lead"><%=t 'host_name' %></p>
  <div class="spacer-30"></div>
  <h3><%=t 'imprint.texts' %></h3>
  <p class="lead"><%=t 'host_name' %></p>
  <div class="spacer-30"></div>
  <h3><%=t 'imprint.legal_information' %></h3>
  <p class="lead"><%=t 'imprint.legal_information_text' %></p></div>