<section class="front-section">
	<div class="container">
		<%= image_tag "front-welcome.png", class: "center-block img-responsive img-rounded img-float-corner-tr" %>
		<h1><%= t "start_page.hello" %></h1>
		<p class="lead"><%= t "start_page.intro_text" %></p>
	</div>
</section>

<section class="front-section">
	<div class="container">
		<h2><span class="m-r-1">Veranstaltungen</span>
			<a class="btn btn-primary" href="<%= events_path %>">
				<%= glyph 'calendar' %> <%= t "start_page.all_events" %>
			</a>
		</h2>
		<p class="lead"><%= t "start_page.intro_text_events" %></p>

		<div class="row">
			<div class="event-list col-md-10 col-md-offset-1">
				<%= render @events %>
				<a class="btn btn-primary" href="<%= events_path %>">
					<%= glyph 'calendar' %> <%= t "start_page.all_events" %>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="front-section">
	<div class="container">
		<h2>Workshop anfragen</h2>
		<p class="lead"><%= t "start_page.intro_text_requests" %></p>
		<p class="text-center">
			<a class="btn btn-primary btn-lg" href="<%= new_request_path %>">
				<%= glyph 'send' %> <%= t "start_page.place_request" %>
			</a>
		</p>
		<p class="lead"><%= t "start_page.outro_text_requests" %></p>
	</div>
</section>

