<!DOCTYPE html>
<html>
<head>
  <title>Workshop-Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%# https://github.com/seyhunak/twitter-bootstrap-rails#using-helpers %>
  <%= nav_bar do %>
    <%= menu_group do %>
      <%= menu_item t(:home, scope: 'navbar'), root_path %>
      <%= menu_item t(:workshops, scope: 'navbar'), workshops_path %>
      <%= menu_item t(:profiles, scope: 'navbar'), profiles_path %>
      <%= menu_item t(:requests, scope: 'navbar'), requests_path %>
      <%= menu_item t(:applications, scope: 'navbar'), application_letters_path %>
      <% if user_signed_in? %>
        <%= drop_down current_user.name do %>
            <%= menu_item t(:settings, scope: 'navbar'), edit_user_registration_path %>
            <%= menu_item t(:logout, scope: 'navbar'), destroy_user_session_path, :method => :delete %>
        <% end %>
      <% else %>
        <%= menu_item t(:login, scope: 'navbar'), new_user_session_path %>
      <% end %>
    <% end %>
  <% end %>

  <%# https://github.com/seyhunak/twitter-bootstrap-rails#flash-helper %>
  <%= bootstrap_flash %>

  <%= yield %>
</div>

</body>
</html>
