<!DOCTYPE html>
<html>
<head>
  <title>Workshop-Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    function enableDatepickers() {
      $('[data-enable-datepicker="true"]').datepicker({
        language:"<%= j I18n.locale.to_s %>",
        format: "<%= j I18n.t('date.formats.datepicker') %>",
      });
    }
    $(document).bind('turbolinks:load', enableDatepickers);
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%# https://github.com/seyhunak/twitter-bootstrap-rails#using-helpers %>
  <%= nav_bar do %>
    <%= menu_group do %>
      <%= menu_items %>
      <% if user_signed_in? %>
        <%= drop_down current_user.name do %>
          <%= dropdown_items %>
        <% end %>
      <% else %>
        <%= menu_item t(:login, scope: 'navbar'), new_user_session_path %>
      <% end %>

    <% end %>
  <% end %>

  <%# https://github.com/seyhunak/twitter-bootstrap-rails#flash-helper %>
  <%= bootstrap_flash %>

  <main>
    <%= yield %>
  </main>
</div>

</body>
</html>
