<!DOCTYPE html>
<html>
<head>
  <title>Workshop-Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
    </div>
  <% end %>
  <div class="masthead">
    <nav>
      <ul class="nav nav-justified">
        <li class="active"><%= link_to t(:home, scope: 'layout'), root_path %></li>
        <li><%= link_to t(:workshops, scope: 'layout'), workshops_path %></li>
        <li><%= link_to t(:profiles, scope: 'layout'), profiles_path %></li>
        <li><%= link_to t(:requests, scope: 'layout'), requests_path %></li>
        <li><%= link_to t(:applications, scope: 'layout'), applications_path %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to t(:settings), edit_user_registration_path %></li>
              <li><%= link_to t(:logout), destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><a href="<%= new_user_session_path %>">Anmelden</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <%= yield %>
</div>

</body>
</html>
