<!DOCTYPE html>
<html>
<head>
  <title>Workshop-Portal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    function enableDatepickers() {
      $('[data-enable-datepicker="true"]').datepicker({
        language:"<%= j I18n.locale.to_s %>",
        format: "<%= j I18n.t('date.formats.datepicker') %>",
      });
    }
    $(document).bind('turbolinks:load', enableDatepickers);
  </script>
  <%= csrf_meta_tags %>
</head>
<body <%= 'class="wsp-home"'.html_safe if current_page?('/') %>>
<%# https://github.com/seyhunak/twitter-bootstrap-rails#using-helpers %>
<%= nav_bar :brand => image_tag("hpi-workshop-200.png"), responsive: true, fixed: :top do %>
   <%= menu_group pull: :right do %>
    <%= menu_items %>
    <% if user_signed_in? %>
      <%= drop_down current_user.name do %>
        <%= dropdown_items %>
      <% end %>
    <% else %>
      <%= menu_item t(:login, scope: 'navbar'), new_user_session_path %>
    <% end %>
  <% end %>
<% end %>

<%# https://github.com/seyhunak/twitter-bootstrap-rails#flash-helper %>
<div class="container">
  <%= bootstrap_flash %>
</div>

<main>
  <% if not local_assigns[:full_width] %>
    <div class="container">
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

  <footer class="front-section">
    <div class="container">
      <%= t "footer" %>
    </div>
  </footer>
</main>

<%= image_tag "loader.svg", class: "loader" %>

</body>
</html>
